@page
@model Green_Gardens.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<table class="table">
    <thead>
        <tr>
            <th><h2 class="display-4">Account</h2></th>
        </tr>

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Loyalty Points</th>
        </tr>

    </thead>
    <tbody>
        <!--Checks through all customers to find the customer that is logged in-->
        @foreach (var customer in Model.Customer )
        {
            //info that is displayed on account page
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.LoyaltyPoints</td>
            </tr>
        }
        



    </tbody>
</table>
