@page
@model Green_Gardens.Pages.AddingProductModel
@{
}

<h1>Basket</h1>

<form method="post">
    <input type="hidden" asp-for="Product.ProductId" />

    <!-- Name Field -->
    <div class="form-group">
        <label>Product Name:</label>
        <input asp-for="Product.Name" class="form-control" readonly />
    </div>

    <!-- Description Field -->
    <div class="form-group">
        <label>Product Description:</label>
        <input asp-for="Product.Description" class="form-control" readonly />
    </div>

    <!-- Price Field -->
    <div class="form-group">
        <label>Product Price:</label>
        <input asp-for="Product.Price" class="form-control" readonly />
    </div>

    <!-- Image Field -->
    <div>
        <label>Product Image:</label>
        <img src="Product.ImagePath" alt="Product Image" style="width:200px">
    </div>


    <button type="submit" class="btn btn-danger">Buy</button>
    <a asp-page="Products" class="btn btn-secondary">Cancel</a>
</form>