@page
@model Green_Gardens.Pages.BasketModel
@{
    ViewData["Title"] = "Basket";
}

<table class="table">
    <thead>
        <tr>
            <th><h2 class="display-4">Basket</h2></th>
        </tr>

        <tr>
            <th>OrderID</th>
            <th>Customer</th>
            <th>Product</th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var order in Model.Order)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer</td>
                <td>@order.Product</td>
            </tr>
        }




    </tbody>
</table>