@page
@model Green_Gardens.Pages.BasketModel
@{
    ViewData["Title"] = "Basket";
}

<h1 class="display-4" style="padding-bottom:20px;">Basket</h1>

<table class="table" style="border: 2px solid black;">
    <thead style="background-color:#B3B3B3;">

        <!--shows all the orders in the basket-->
        <tr>
            <th>Order ID</th>
            <th>Product Name</th>
            <th>Product Descrition</th>
            <th>Product Price</th>
            <th>Buy Product</th>

        </tr>

    </thead>
    <tbody>

        @foreach (var order in Model.Order)
        {
            // can show product details due to the foreign key
            <tr>
                <td>@order.Id</td>
                <td>@order.Product.Name</td>
                <td>@order.Product.Description</td>
                <td>@order.Product.Price</td>
                <td>
                    <!--pop up will appear due to the onclick function-->
                    <div class="popup" onclick="buyProduct()">
                        Click Here To Buy Product!!
                        <!--what text will display on the popup-->
                        <span class="popuptext" id="Buy">Product Bought</span>
                    </div>
                </td>
            </tr>
        }




    </tbody>
</table>

<!--styling for the popup and text-->
<style>
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: red;
    }

        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }

            .popup .popuptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

</style>

<!--function for onclick-->
<script>
    function buyProduct() {
        var popup = document.getElementById("Buy");
        popup.classList.toggle("show");
    }
</script>