@page
@model Green_Gardens.Pages.CreateModel
@{
}
<h1>Add Item</h1>

<div class="container border p-5">
    <form method="post">
        <!-- Name Field -->
        <div class="form-group row">
            <div class="col-4">
                <label>Product Name:</label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Name" class="form-control" />

            </div>
        </div>

        <!-- Description Field -->
        <div class="form-group row">
            <div class="col-4">
                <label>Description:</label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Description" class="form-control" />

            </div>
        </div>

        <!-- Price Field -->
        <div class="form-group row">
            <div class="col-4">
                <label>Price:</label>
            </div>
            <div class="col-8">
                <input asp-for="Products.Price" class="form-control" />

            </div>
        </div>

        <!-- Current Stock Field -->
        <div class="form-group row">
            <div class="col-4">
                <label>Current Stock:</label>
            </div>
            <div class="col-8">
                <input type="number" asp-for="Products.Stock" class="form-control" />

            </div>
        </div>

        <!-- Expected Stock Field -->
        <div class="form-group row">
            <div class="col-4">
                <label>Expected Stock:</label>
            </div>
            <div class="col-8">
                <input type="number" asp-for="Products.ExpectedStock" class="form-control" />

            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-block btn-secondary">Add Product</button>
            </div>
        </div>
    </form>
</div>
