@page "{id:guid}"
@model Green_Gardens.Pages.EditModel

<h1>Edit Item</h1>

<form method="post">
    <input type="hidden" asp-for="Product.Id" />

    <!-- Name Field -->
    <div class="form-group">
        <label>Product Name:</label>
        <input asp-for="Product.Name" class="form-control" />
    </div>

    <!-- Description Field -->
    <div class="form-group">
        <label>Product Description:</label>
        <input asp-for="Product.Description" class="form-control" />
    </div>

    <!-- Price Field -->
    <div class="form-group">
        <label>Product Price:</label>
        <input asp-for="Product.Price" class="form-control" />
    </div>

    <!-- Image Field -->
    <div class="form-group">
        <label>Product Image:</label>
        <input asp-for="Product.ImagePath" class="form-control" />
    </div>

    <!-- Current Stock Field -->
    <div class="form-group">
        <label>Current Stock:</label>
        <input type="number" asp-for="Product.Stock" class="form-control" />
    </div>

    <!-- Expected Stock Field -->
    <div class="form-group">
        <label>Expected Stock:</label>
        <input type="number" asp-for="Product.ExpectedStock" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>