@page
@model Green_Gardens.Pages.RegisterModel
@{
}
<h1>Register</h1>

<!--Appears on register page-->
<div class="container border p-5">
    <form method="post">
        <!-- Firstname Field -->
        <div class="form-group">
            <label>Firstname:</label>
            <input asp-for="Customer.FirstName" class="form-control" />
        </div>

        <!-- Surname Field -->
        <div class="form-group">
            <label>Surname:</label>
            <input asp-for="Customer.LastName" class="form-control" />
        </div>

        <!-- Email Field -->
        <div class="form-group">
            <label>Email:</label>
            <input asp-for="Customer.Email" type="email" class="form-control" />
        </div>

        <!-- Password Field -->
        <div class="form-group">
            <label>Password:</label>
            <input asp-for="Customer.Password" type="password" class="form-control" />
        </div>

        <!-- Admin Field -->
        <div class="form-group">
            <label>Are you an Admin:</label>
            <input type="checkbox" asp-for="Customer.IsAdmin" />
        </div>

        <!-- Loyalty Field -->
        <div class="form-group">
            <label>Sign up to Loyalty Program</label>
            <input type="checkbox"/>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>