@page
@model Green_Gardens.Pages.Graphs.GraphModel
@{
    ViewData["Title"] = "Product Stock Graph";
}

<h2>Current stock Graph</h2>

<div>
	<canvas id="stockGraph"></canvas>
</div>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		var ctx = document.getElementById('stockGraph').getContext('2d');
		var tasksData = @Html.Raw(Model.ProductJson);
		var tasksGraph = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: tasksData.map(t => new String(t.Name).toString()),
				datasets: [{
					label: 'Current Stock',
					data: tasksData.map(t => t.Stock),
					backgroundColor: 'rgba(54, 162, 235, 0.2)',
					borderColor: 'rgba(54, 162, 235, 1)',
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	</script>
}